*.so filter=lfs diff=lfs merge=lfs -text
server/bin/Debug/net8.0/runtimes/linux-x64/native/libgrpc_csharp_ext.x64.so filter=lfs diff=lfs merge=lfs -text
QuanLySinhVien/server/bin/Debug/net8.0/runtimes/linux-x64/native/libgrpc_csharp_ext.x64.so filter=lfs diff=lfs merge=lfs -text
