################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuanLySinhVien/.vs/QuanLySinhVien/v17/DocumentLayout.json
